.names-container {
    background: rgba(31, 40, 51, 0.80);
    height: 100vh;
}

.enter-names-table {
    margin: auto;
    border-spacing: 15vh;
    padding-top: 5%;
    padding-left: 3%;
}

.name-input {
    width: 90%;
    text-align: center;
    font-family: 'Arial','Sans-Serif';
    font-size: 4vh;
    font-style: normal;
    font-weight: 700;
    margin-top: 1%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(171, 168, 168, 0.25);
}

.continue-btn {
    position: relative;
    bottom: 0%; left: 44%;
    transform: translate(-50%,0%);
    font-family: 'Goldman','Arial','Sans-Serif';
    font-size: 3.8vh;
    font-weight: 700;
    border-radius: 10px;
    border: 4px solid #66FCF1;
    padding-left: 2%;
    padding-right: 2%;
}

.continue-btn:hover {
    border: 4px solid #000000;
    background-color: #66FCF1;
    color: black;
    cursor: pointer;
}