.btn {
    height: 11.8%;
    width: 25.2%;
    position: relative;
    font-family: 'Goldman','Arial','Sans-Serif';
    font-weight: 700;
    border-radius: 10px;
    border: 3.8px solid #66FCF1;
    margin-top: 1%;
    margin-bottom: 3%;
    padding-block: 1%;
}

.contact-form-btn {
    bottom: 0%; left: 0%;
    transform: translate(0%,40%);
    font-size: 3.3vh;
}

.start-btn {
    bottom: 8%; left: 50%;
    transform: translate(-50%,0%);
    font-size: 3.8vh;
}