.misc-header-container {
    height: 13vh;
    width: 100%;  
    position: fixed;  
    top: 0;
    background-color: #262B32;
    background-image: url("/assets/misc-header-background.png");
    background-size: cover;
    z-index: 10;
}

.misc-site-logo-container {
    display: flex;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00000000;
}

.misc-site-logo {
    height: 5.9vh;
    width: 55px;
    background-color: #00000000;
}

.misc-site-title {
    font-family: 'Goldman','Arial','Sans-Serif';
    color: #FFF;
    font-size: 5.2vh;
    font-style: normal;
    font-weight: 200;
    line-height: 1.2;
    background-color: #00000000;
    margin-left: 10px;
}